body {
  background-color: #282c34;
}

.login-img {
  height: 100px;
}

.login-box {
  background: #1a2226;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) , 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px;
  width: 300px;
}

.login-form {
  margin-top: 25px;
  text-align: left;
}

.login-form input {
  background-color: #1a2226;
  border: none;
  border-bottom: 2px solid #19bc8b;
  color: #ecf0f5;
  font-weight: 700;
  margin-bottom: 40px;
  outline: 0;
}

.form-label {
  color: #6c6c6c;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn {
  background: #19bc8b;
  border: none;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) , 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #3f3e3e;
  font-size: 14px;
  height: 40px;
  margin-left: 15px;
  width: 130px;
}

.btn:hover {
  background: #108b66;
  color: white;
}
